---

---

<label aria-label="Used to modify the formatting of the final output CSS code. The Classic option uses the regular dark property.">
    <md-radio form="theme-config-form" name="css-style-mode" value="classic"></md-radio>
    <span>Class Style</span>
</label>
<label aria-label="Used to modify the formatting of the final output CSS code. The scheme option uses the light-dark value.">
    <md-radio form="theme-config-form" name="css-style-mode" value="scheme" checked></md-radio>
    <span>Scheme Style</span>
</label>
