---

---

<label aria-label="This option is used to switch to the 2021 MD version.">
    <md-radio name="spec-version" value="2021"></md-radio>
    <span>2021</span>
</label>
<label aria-label="This option is used to switch to the 2025 MD version.">
    <md-radio name="spec-version" value="2025" checked></md-radio>
    <span>2025</span>
</label>
